:root {
    --bs-primary: #4A90E2; /* Patient Module Primary Color */
    --bs-secondary: #E1F5FE; /* Patient Module Secondary Color */
    --bs-body-bg: #ffffff; /* Body Background Color */
    --bs-body-color: #494B5B; /* Body Text Color */
    --bs-heading-color: #16181B; /* Heading Color */
}

body {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--bs-heading-color);
}

a {
    color: var(--bs-primary);
}

    a:hover {
        color: var(--bs-secondary);
    }

.btn {
    background-color: var(--bs-primary);
    color: #fff;
}

    .btn:hover {
        background-color: var(--bs-secondary);
    }
